@import "../../../theme.scss";

.DealsTableRow {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);

  &:hover td {
    background: #4e5066;
    color: #ffffff;
    border-top: 1px solid #22262e;
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(odd) .DealsTable--cell {
    background: #ebebeb;
  }

  &:nth-child(odd):hover .DeaslTable--cell {
    background: #4e5066;
  }

  &:last-child .DealsTable--cell:first-child {
    border-bottom-left-radius: 3px;
  }

  &:last-child .DealsTable--cell:last-child {
    border-bottom-right-radius: 3px;
  }

  &--cell {
    background: #ffffff;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #c1c3d1;

    &:last-child {
      border-right: 0px;
    }
  }
}
