$LoanstreetGreen: #419572;
$LoanstreetGreenDark: #327d5e;
$LoanstreetGreenDark1: #26664b;
$Rose: #cc0001;
$RoseLight3: #ff0000;
$Violet: #4a90e2;
$Ivy: #419572;
$BrandGoldDark1: #c08100;
$Robin: #677f94;
$RobinDark: #5d7285;
$RobinLight: #ebf2f8;
$RobinLight1: #a4b2bf;
$RobinLight2: #8599a9;
$Steel: #747574;
$Wall: #d2d2d2;
$Ink: #1b252e;
$Charcoal: #242a31;
$Slate: #585858;
$Concrete: #d8d8d8;
$Cloud: #eaeaea;
$Tin: #788188;
$Marshmellow: #ffffff;
$Fog: #f9f9f9;

$Header: 14px;
$Body: 12px;
$BodyLarge: 13px;
$BodySmall: 11px;
